<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name="com.jakewharton.processphoenix.ProcessPhoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:process=":phoenix"
            android:exported="false"
            />
    </application>

</manifest>
